<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>FileTransfer saves received photos and videos to your library.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>FileTransfer discovers nearby devices and transfers your texts, photos, and files to them directly over the local network.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ft-demo._tcp</string>
		<string>_ft-demo._udp</string>
		<string>_ftdata._tcp</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
