<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>FileTransfer saves received photos and videos to your library.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>FileTransfer discovers and connects to nearby devices to send text via MultipeerConnectivity.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ft-demo._tcp</string>
		<string>_ft-demo._udp</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
